<h1>game page</h1>
<ul style="list-style: none">
  <% @letters.each do |letter| %>
    <li style="display: inline"><%= letter %></li>
  <% end %>
</ul>
<form action="/score">
  <label for="input">Enter your best guess:</label>
  <input type="text" id="input" name="answer" placeholder="your guess">
  <input type="hidden" name="time" value="<%=@start_time%>">
  <input type="hidden" name="given" value="<%=@letters.join%>">
  <input type="submit" value="Submit">
</form>


